<section class="hero-banner-sm magic-ball magic-ball-banner">
  <div class="container">
    <div class="hero-banner-sm-content">
      <h1>Отели</h1>
      <p>{{hotelText || "Не найдено никаких отелей в выбранной точке назначения"}}</p>
    </div>
    <button class="button mt-4" (click)="startRecording()" *ngIf="hotelText != undefined">Начать</button>
  </div>
</section>
<section class="section-padding magic-ball magic-ball-sm magic-ball-about" *ngIf="hotelText == undefined">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6 align-self-center about-content">
        <h2>Возможные дальнейшие <br class="d-none d-xl-block">действия</h2>
        <ul class="list-unstyled">
          <li><p class="m-1"><i class="fa fa-microphone mr-1"></i>Задать другое направление или повторить запрос</p></li>
          <li><p class="m-1"><i class="fa fa-microphone mr-1"></i>Открыть рейсы</p></li>
          <li><p class="mt-1 ml-1 mb-4"><i class="fa fa-microphone mr-1"></i>Вернуться на главную</p></li>
        </ul>
        <button class="button" (click)="startRecording()">Начать</button>
      </div>
    </div>
  </div>
</section>
<div class="mx-5 my-4">
  <div>
    <div class="row col-md-12">
      <div class="mb-3 col-md-6 col-sm-4" *ngFor="let hotel of pageItems">
        <div class="card shadow bg-white rounded">
          <div class="card-body row mx-0 p-0">
            <div class="hotel-data-img col-lg-3 col-md-5 px-sm-0">
              <img src="{{hotel.ImageUri}}" alt="Hotel image" />
            </div>
            <div class="hotel-data-info col-lg-7 col-md-7 col-sm-12">
              <h5 class="mr-1 inline">{{hotel.Name || hotel.OriginName}}</h5>
              <i class="fa fa-star inline" *ngFor="let i of hotel.Class | transform" data-toggle="tooltip" data-placement="top" title="{{hotel.Class}}-звездочный отель"></i>
              <div class="review-box row pl-3">
                <div class="score-badge mr-1 inline">{{hotel.ReviewScore}}</div>
                <p class="score-text mb-0 mr-1 col-8 col-sm-12 col-md-12 col-lg-4 p-0 d-md-inline">{{hotel.ReviewScoreWord}}</p>
                <p class="text-muted mb-1 col-12 col-sm-12 col-md-12 col-lg-3 p-0 d-md-inline">{{hotel.ReviewsCount}} оценок</p>
              </div>
              <p class="d-sm-none d-md-block">{{hotel.Country}}, {{hotel.City}}, {{hotel.Address || hotel.OriginAddress}}</p>
              <p class="d-sm-none d-md-block text-green text-uppercase" *ngIf="hotel.IsNoPrepayment" data-toggle="tooltip" data-placement="top" title="Предоплата не требуется - вы платите во время проживания"><i class="fa fa-check"></i> предоплата не требуется</p>
              <p class="d-sm-none d-md-block text-green text-uppercase" *ngIf="hotel.IsFreeCancellation" data-toggle="tooltip" data-placement="top" title="при отмене бронирования"><i class="fa fa-check"></i> полный возврат средств</p>
            </div>
            <div class="bg-primary col-lg-2 col-md-12 d-flex align-items-center justify-content-center">
              <div class="text-center"> 
                <p class="text-white text-uppercase d-inline d-md-block mr-1 mr-md-0">от {{hotel.TotalPrice}} {{hotel.CurrencyCode}}</p>
                <a class="btn btn-outline-primary" href="#" role="button" onclick="return false;">Инфо</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <ul *ngIf="paginator !== undefined && paginator.pages && paginator.pages.length" class="pagination">
          <li class="page-item d-none d-md-inline" [ngClass]="{disabled:paginator?.currentPage === 1}">
            <span class="page-link" (click)="setPage(1)">Первая</span>
          </li>
          <li class="page-item d-none d-md-inline" [ngClass]="{disabled:paginator.currentPage === 1}">
            <span class="page-link" (click)="setPage(paginator.currentPage - 1)">Предыдущая</span>
          </li>
          <li *ngFor="let page of paginator?.pages" class="page-item" [ngClass]="{active:paginator?.currentPage === page}">
            <a class="page-link" (click)="setPage(page)">{{page}}</a>
          </li>
          <li class="page-item d-none d-md-inline" [ngClass]="{disabled:paginator?.currentPage === paginator?.totalPages}">
            <span class="page-link" (click)="setPage(paginator?.currentPage + 1)">Следующая</span>
          </li>
          <li class="page-item d-none d-md-inline" [ngClass]="{disabled:paginator?.currentPage === paginator?.totalPages}">
            <span class="page-link" (click)="setPage(paginator?.totalPages)">Последняя</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
