  <!--<app-nav-menu></app-nav-menu>-->
<section class="hero-banner magic-ball">
  <audio id="voice-response" hidden></audio>
  <div class="container">
    <div class="row align-items-center text-center text-md-left">
      <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
        <h1>Добро пожаловать!</h1>
        <p>Данный голосовой помощник спроектирован с целью упрощения взаимодействия пользователей с системами, предлагающими поиск рейсов и мест для остановки тем, кто собирается в путешествие. Попробуйте!</p>
        <button class="button button-hero mt-4" (click)="startRecording()">Начать</button>
      </div>
      <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
        <img class="img-fluid" src="assets/images/home/hero-img.png" alt="">
      </div>
    </div>
  </div>
</section>
<section class="section-margin generic-margin">
  <div class="container">
    <div class="section-intro text-center pb-90px">
      <h2>Мои возможности</h2>
      <p>Посмотрите, что я умею делать</p>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4 mb-lg-0">
        <div class="service-card text-center">
          <div class="service-card-img">
            <img class="img-fluid" src="assets/images/home/service2.png" alt="">
          </div>
          <div class="service-card-body">
            <h3>Поиск рейсов</h3>
            <p>Я найду рейсы в любую точку мира - просто скажите необходимую фразу</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4 mb-lg-0">
        <div class="service-card text-center">
          <div class="service-card-img">
            <img class="img-fluid" src="assets/images/home/service1.png" alt="">
          </div>
          <div class="service-card-body">
            <h3>Подборка отелей</h3>
            <p>После поиска рейсов я предложу Вам возможные отели в городе, в который Вы направляетесь</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<div class="hero-banner magic-ball">
  <div class="container">
    <div class="row align-items-center text-center text-md-left">
      <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
        <h1>Добро пожаловать!</h1>
        <p>Данный голосовой помощник спроектирован с целью упрощения взаимодействия пользователей с системами, предлагающими поиск рейсов и мест для остановки тем, кто собирается в путешествие. Попробуйте!</p>
        <a class="button button-hero mt-4" href="#">Поздороваться</a>
      </div>
      <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
        <img class="img-fluid" src="assets/images/home/hero-img.png" alt="">
      </div>
    </div>
  </div>-->
<!--<audio id="voice-response" hidden></audio>
<div id="inputForm">
  <input type="text" [(ngModel)]="input" id="inp"/>
  <input type="button" id="startRecButton" value="Старт" (click)="startRecording()" />
  <input type="button" id="stopRecButton" value="Стоп" (click)="stopRecording()" />
</div>
<div>
  <ul class="list-unstyled">
    <li><a (click)="fillInput('tickets minsk saint petersburg next week')">tickets minsk saint petersburg next week</a></li>
    <li><a (click)="fillInput('tickets minsk kaliningrad next week')">tickets minsk kaliningrad next week</a></li>
    <li><a (click)="fillInput('tickets from minsk to saint petersburg next week')">tickets from minsk to saint petersburg next week</a></li>
    <li><a (click)="fillInput('sort 1')">sort 1</a></li>
    <li><a (click)="fillInput('sort 2')">sort 2</a></li>
    <li><a (click)="fillInput('sort 3')">sort 3</a></li>
    <li><a (click)="fillInput('sort 4')">sort 4</a></li>
    <li><a (click)="fillInput('sort 5')">sort 5</a></li>
    <li><a (click)="fillInput('sort 6')">sort 6</a></li>
    <li><a (click)="fillInput('open hotel')">open hotel</a></li>
    <li><a (click)="fillInput('open flight')">open flight</a></li>
    <li><a (click)="fillInput('on main')">on main</a></li>
  </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p style="white-space: pre-line;">{{message}}</p>
    </div>
    <div class="col-md-6">
      <p style="white-space: pre-line;">{{intent}}</p>
    </div>
  </div>
</div>-->
<!--</div>-->
