<body class="bg-shape">
  <div>
    <ul class="list-unstyled">
      <li><a (click)="fillInput('на главную')">на главную</a></li>
      <li><a (click)="fillInput('отели пожалуйста')">отели пожалуйста</a></li>
      <li><a (click)="fillInput('переключись на рейсы')">переключись на рейсы</a></li>
      <li><a (click)="fillInput('отели в Минске')">отели в Минске</a></li>
      <li><a (click)="fillInput('отели в Санкт-Петербурге')">отели в Санкт-Петербурге</a></li>
      <li><a (click)="fillInput('отели в Токио')">отели в Токио</a></li>
      <li><a (click)="fillInput('рейсы из Минска в Франкфурт')">рейсы из Минска в Франкфурт</a></li>
      <li><a (click)="fillInput('рейсы из Минска в Калининград')">рейсы из Минска в Калининград</a></li>
      <li><a (click)="fillInput('рейсы из Минска в Стокгольм')">рейсы из Минска в Стокгольм</a></li>
      <li><a (click)="fillInput('рейсы из Минска в Лондон')">рейсы из Минска в Лондон</a></li>
      <li><a (click)="deb()">debugger</a></li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</body>
