 <section class="hero-banner-sm magic-ball magic-ball-banner">
   <div class="container">
     <div class="hero-banner-sm-content">
       <h1>Рейсы</h1>
       <p>{{flightText || "Не найдено никаких рейсов или не задано направление"}}</p>
     </div>
     <button class="button mt-4" (click)="startRecording()" *ngIf="flightText != undefined">Начать</button>
   </div>
</section>
 <section class="section-padding magic-ball magic-ball-sm magic-ball-about" *ngIf="flightText == undefined">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-md-6 align-self-center about-content">
         <h2>Возможные дальнейшие <br class="d-none d-xl-block">действия</h2>
         <ul class="list-unstyled">
           <li><p class="m-1"><i class="fa fa-microphone mr-1"></i>Задать другое направление или повторить запрос</p></li>
           <li><p class="m-1"><i class="fa fa-microphone mr-1"></i>Открыть отели</p></li>
           <li><p class="mt-1 ml-1 mb-4"><i class="fa fa-microphone mr-1"></i>Вернуться на главную</p></li>
         </ul>
         <button class="button" (click)="startRecording()">Начать</button>
       </div>
     </div>
   </div>
 </section>
 <div class="container mt-4">
   <!--<button (click)="fetch()">fetch</button>-->
   <div class="row">
     <ul class="list-group list-unstyled flight-data">
       <li class="mb-3" *ngFor="let flight of flightData | async">
         <div class="card shadow p-3 mb-3 bg-white rounded">
           <div class="card-body">
             <div class="flight-data-inner inner-left">
               <img class="mx-auto d-block" src="{{flight.ImageUri}}" alt="Carrier image" />
             </div>
             <div class="flight-data-inner margined-border">
               <h6>от <strong>{{flight.Cost}} BYN</strong> / чел.</h6>
               <p>{{flight.Origin}} - {{flight.Destination}}</p>
               <div class="flight-data-info-block">
                 <div class="flight-data-info mr-2">
                   <img src="assets/images/flight-takeoff.png" alt="flight takeoff" />
                   <div class="flight-data-info-content">
                     <p>вылет</p>
                     <p>{{flight.Departure | date:'medium'}}</p>
                   </div>
                 </div>
                 <div class="flight-data-info">
                   <img src="assets/images/flight_landing.png" alt="flight landing" />
                   <div class="flight-data-info-content">
                     <p>прибытие</p>
                     <p>{{flight.Arrival | date:'medium'}}</p>
                   </div>
                 </div>
               </div>
               <a class="btn btn-outline-primary mt-2" href="#" role="button" onclick="return false;">заказать</a>
             </div>
             <div class="flight-data-inner inner-right text-center">
               <h6 class="inline-info">в одну строну</h6>
               <h6 class="inline-info">{{flight.Stops}} пересадки</h6>
             </div>
           </div>
         </div>
       </li>
     </ul>
   </div>
 </div>
