.card-body {
  padding: 0.5rem;
}

.card-body div {
  vertical-align: middle;
}

.flight-data {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.flight-data-inner {
  position: relative;
  display: inline-block;
}

.flight-data-inner a {
  font-size: 12px;
}

.inner-left {
  padding-right: 1rem;
}

.inner-right {
  padding-left: 1rem;
}

.flight-data-info {
  display: inline-block;
}

.flight-data-info img {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.25rem;
}

.flight-data-info-content {
  display: inline-block;
}

.flight-data-info-content p {
  margin-bottom: 0;
  font-size: 0.75rem;
}

.margined-border {
  padding: 0 1rem;
  width: 28rem;
}

.margined-border:before, .margined-border:after {
  content: '';
  position: absolute;
  width: 1px;
  height: calc(100% + 1rem);
  top: -0.5rem;
  background-color: #ececec;
}

.margined-border:before {
  left: 0;
}

.margined-border:after {
  right: 0;
}
